#leftImg, #centerImg, #rightImg  {
  max-height: 150px;
  border-radius: 25%;
  border: 3px solid #023047;
}

  main {
  display: grid;
  grid-template-rows: 200px 250px 250px 250px;
  grid-template-columns: repeat(4, 300px);

}

body {
  background-color: #8ECAE6;
}

header {
  height: 100px;
  background-color: #219EBC;
  margin-bottom: 100px;
}

header nav ul {
  height: 100px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
}

a {
  color: #023047;
  text-decoration: none;
}

#itemLikes, #busMallInfo h3 {
  font-size: x-large;
  font-weight: bold;
  padding-left: 75px;
  color: #023047
}

#votingUL {
  margin-left: 25px;
  margin-right: 50px;
  grid-column: 1 / 2;
  grid-row: 2 / 4;  
  border: dashed 1px #023047;
  font-size: small;

}

#votingUL li {
  padding: 3px;
}

#prodSection div {
  width: 250px;
}

#prodSection {
  display:flex;
  align-items: flex-end;
  justify-content: space-evenly;
  grid-column: 2 / 5;
  grid-row: 1 / 2;

}

#prodSection h1{
  align-self: center;
  width: 75px;
}

#chartFig {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
}

#busMallInfo {
  margin: 50px 50px;
  grid-column: 2 / 5;
  grid-row: 2 / 5;
}

#buslogo {
  max-height: 90px;
  float:left;
  margin-left: 50px;
}

#allhail {
  font-size: 72px;
}

