/* body {
  display: grid;
  grid-template-columns: 250px repeat(3, 300px);
  grid-template-rows: 70px 300px 60px 300px 70px;
  color: white;
}

header {
  display: flex;
  float: left;
  grid-column: 1/5;
  grid-row: 1/2;
}

h1 {
  margin-left: 15px;
}

header, footer {
  background-color: #063e63;
}

header {
  display: flex;

}

#results {
  grid-column: 1/2;
  grid-row: 2/5;
  background-color: #203647;
}

main {
  grid-column: 2/5;
  grid-row: 2/5;

  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 300px 60px 300px;
}

footer {
  grid-column: 1/5;
  grid-row: 5/6;
}

#product-1 { 
  grid-column: 1/2;
  grid-row: 1/2;
}

#product-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

#product-3 {
  grid-column: 3/4;
  grid-row: 1/2;
}

#filler {
  grid-column: 1/4;
  grid-row: 2/3;
}

#main-text {
  grid-column: 1/4;
  grid-row: 3/4;
  background-color: #EEFBFB;
}

#product-1, #product-2, #product-3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #007CC7;
}

#leftProduct, #middleProduct, #rightProduct img {
  max-height: 200px;
  max-width: 200px;
}

.border {
  border: 5px solid black;
  padding: 15px;
  border-radius: 25px;
}

h3 {
  text-align: center;
  padding-bottom: 10px;
}


.hidden {
  display: none;
}


#result-ul {
  height: 600px;
  overflow: auto;
}

ul li {
  margin: 5px;
}

#main-text {
  color: black;
} */